*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
}

body{
    overflow: hidden;
    height: 100%;
}

.main{
    display: flex;
    height:100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    overflow-y: hidden;
}


.mainleft{
    height: 790px;
    width:390px;
    background-color: black;
}

.right{
    height: 688px;
    width: 1200px;
    background-color:rgb(26, 24, 24);
    position: relative;
    top: 8px;
    border-radius: 10px;

}


.left{
    width: 370px;
    height: 150px;
    background-color: rgb(26, 24, 24);
    border-radius: 10px;
    margin-left: 10px;
    position: relative;
    top: 8px;
    
}

.text-white{
    color: white;
}

.item{
    font-size: 15px;
    padding-top: 20px;
    padding-left: 30px;
}

.item1{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;

}

.spotify{
    padding-top: 2px;
    padding-right: 3px;
}

.home{
    padding-right: 17px;
}

.item2{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 15px;
    color: rgb(163, 154, 154);
    margin-bottom: 8px;
    cursor: pointer;
}

.item2:hover{
    color: white;
}

.search{
    padding-right: 17px;
    
}


.item3{
    display: flex;
    align-items: center;
    color: rgb(192, 185, 185);
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 4px;
    cursor: pointer;
}

.item3:hover{
    color: white;
}

.leftbottom{
    width: 370px;
    height: 530px;
    background-color: rgb(26, 24, 24);
    position: relative;
    top: 18px;
    margin-left: 10px;
    border-radius: 10px;

}

.library{
    width: 370px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    align-items:center;
    color: rgb(146, 143, 143);
    font-size: 17px;
    position: relative;
    bottom: 1px;
    font-weight: 700;
    cursor: pointer;
}

.library:hover{
    color: white;
}


.plus{
    padding-left: 170px;
}


.book{
    padding-left: 20px;
    padding-right: 14px;
}

.playlist{
    width: 350px;
    height: 135px;
    border-radius: 10px;
    background-color: rgb(37, 36, 36);
    position: relative;
    left: 10px;

}

.play{
    width: 200px;
    height: 100px;
    /* background-color: yellow; */
    border-radius: 10px;
    position: relative;
    top: 12px;
    left: 18px;
    padding-top: 5px;
    
}

.text1{
    font-weight: 700;
    padding-bottom: 9px;
    font-size: 16px;
}

.text2{
    font-weight: 700;
    padding-bottom: 20px;
    color: rgb(214, 207, 207);
    font-size: 12px;
}

.text3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 28px;
    width: 130px;
    border-radius: 14px;
    background-color: white;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.text3:hover{
    height: 32px;
    width: 139px;
    border-radius: 14px;
    background-color: rgb(211, 200, 200);
}


.pod{
    width: 350px;
    height: 135px;
    border-radius: 10px;
    background-color: rgb(36, 35, 35);
    position: relative;
    left: 10;

}

.podcast{
    width: 200px;
    height: 100px;
    /* background-color: yellow; */
    border-radius: 10px;
    position: relative;
    top: 12px;
    left: 12px;
    padding-top: 5px;
    
}

.text4{
    font-weight: bolder;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 9px;
    font-size: 17px;
}

.text5{
    font-weight: 700;
    padding-bottom: 20px;
    padding-left: 15px;
    color: rgb(214, 207, 207);
    font-size: 12px;
    
}

.text6{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 28px;
    width: 140px;
    border-radius: 14px;
    background-color: white;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    left: 15px;
    cursor: pointer;
}

.text6:hover{
    height: 32px;
    width: 145px;
    border-radius: 14px;
    background-color: rgb(211, 200, 200);
}

.cookies{
    margin-top: 100px;
    margin-left: 22px;
    font-family:var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    color: gray;
    font-size: 12px;
    font-weight: 400;
    font-weight: bold;
}

.language{
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgba(255, 255, 255, 0.507) ;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    width: 100px;
    border-radius: 14px;
    margin-top: 40px;
    margin-left: 22px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    

}

.world{
    padding-right: 5px;
}

.last{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 1580px;
    height: 67px;
    background-image: linear-gradient(90deg,rgb(185, 25, 185),rgb(26, 168, 211));
    position: relative;
    top: 27px;
    left: 10px;
}

.last1{
    height: 67px;
    width: 660px;
    border-radius: 10px;
    font-size: 15px;
    padding-right: 20px;
    position: relative;
    left: 10px;
}

.text7{
    padding-top: 12px;
    padding-left: 9px;
    font-size: 13px;
    
}

.text8{
    padding-left: 9px;
    padding-top: 6px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px
}

.last2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 180px;
    background-color: white;
    border-radius: 20px;
    color: black;
    font-weight: bolder;
    position: relative;
    top: 09px;
    right: 10px;
}


/* right side */

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    height: 60px;
}

.rleft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 30px;
    top: 5px;

}


.arr2{
    padding-left: 18px;

}

.rright{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.signup{
    position: relative;
    padding-right: 60px;
    color: rgba(255, 255, 255, 0.712);
    font-weight: 700;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 45px;
    width: 100px;
    border-radius: 27px;
    background-color: white;
    position: relative;
    right: 20px;
    font-weight: 700;


}

.mainright{
    height: 100%;
    width: 12000px;
    background-color: rgb(36, 35, 35);
    border-radius:0px 0px 10px 10px;
    overflow: auto;
    overflow-x: hidden;

}

.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 1180px;
}

.text9{
    font-size: 23px;
    font-weight: bolder;
    position: relative;
    left: 25px;
    bottom: 8px;
}

.show{
    color: rgb(185, 182, 182);
    position: relative;
    right: 15px;
    font-weight: 700;
    font-size: 14px;
}

.images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 275px;
    width: 1180px;
}

.img1{
    height: 275px;
    width: 170px;
    background-color: rgb(31, 27, 27);
    border-radius: 10px;
}

.tophit{
    position: relative;
    top: 15px;
    left: 10px;
}

.img1-text1{
    position: relative;
    top: 40px;
    left: 15px;
    font-weight: bolder;
}

.img1-text2{
    position: relative;
    top: 60px;
    left: 15px;
    font-weight: 600;
    color: rgb(177, 171, 171);
    font-size: 13px;
}

.img1-text3{
    position: relative;
    top: 65px;
    left: 15px;
    font-weight: 600;
    color: rgb(177, 165, 165);
    font-size: 13px;

}



.img2{
    height: 275px;
    width: 170px;
    background-color: rgb(31, 27, 27);
    border-radius: 10px;
}

.rap{
    position: relative;
    top: 15px;
    left: 15px;
}

.img2-text1{
    position: relative;
    top: 40px;
    left: 15px;
    font-weight: bolder;
}

.img2-text2{
    position: relative;
    top: 60px;
    left: 15px;
    font-weight: 600;
    color: rgb(177, 171, 171);
    font-size: 13px;
}

.img2-text3{
    position: relative;
    top: 65px;
    left: 15px;
    font-weight: 600;
    color: rgb(177, 165, 165);
    font-size: 13px;

}

.img3{
    height: 275px;
    width: 170px;
    background-color:  rgb(31, 27, 27);
    border-radius: 10px;
}

.allout{
    position: relative;
    top: 15px;
    left: 10px;
}

.img3-text1{
    position: relative;
    top: 40px;
    left: 15px;
    font-weight: bolder;
}

.img3-text2{
    position: relative;
    top: 60px;
    left: 15px;
    font-weight: 600;
    color: rgb(177, 171, 171);
    font-size: 13px;
}

.img3-text3{
    position: relative;
    top: 65px;
    left: 15px;
    font-weight: 600;
    color: rgb(177, 165, 165);
    font-size: 13px;

}


.img4{
    height: 275px;
    width: 170px;
    background-color: rgb(31, 27, 27);
    border-radius: 10px;
}

.rock{
    position: relative;
    top: 15px;
    left: 10px;
}

.img4-text1{
    position: relative;
    top: 40px;
    left: 15px;
    font-weight: bolder;
}

.img4-text2{
    position: relative;
    top: 60px;
    left: 15px;
    font-weight: 600;
    color: rgb(177, 171, 171);
    font-size: 13px;
}

.img4-text3{
    position: relative;
    top: 65px;
    left: 15px;
    font-weight: 600;
    color: rgb(177, 165, 165);
    font-size: 13px;

}


.img5{
    height: 275px;
    width: 170px;
    background-color: rgb(31, 27, 27);
    border-radius: 10px;
}

.chill{
    position: relative;
    top: 15px;
    left: 10px;
}

.img5-text1{
    position: relative;
    top: 40px;
    left: 15px;
    font-weight: bolder;
}

.img5-text2{
    position: relative;
    top: 60px;
    left: 15px;
    font-weight: 600;
    color: rgb(177, 171, 171);
    font-size: 13px;
}

.img5-text3{
    position: relative;
    top: 65px;
    left: 15px;
    font-weight: 600;
    color: rgb(177, 165, 165);
    font-size: 13px;

}


.img6{
    height: 275px;
    width: 170px;
    background-color: rgb(31, 27, 27);
    border-radius: 10px;
}

.viva{
    position: relative;
    top: 15px;
    left: 10px;
}

.img6-text1{
    position: relative;
    top: 40px;
    left: 15px;
    font-weight: bolder;
}

.img6-text2{
    position: relative;
    top: 60px;
    left: 15px;
    font-weight: 600;
    color: rgb(177, 171, 171);
    font-size: 13px;
}

.img6-text3{
    position: relative;
    top: 65px;
    left: 15px;
    font-weight: 600;
    color: rgb(177, 165, 165);
    font-size: 13px;

}

.img7{
    height: 275px;
    width: 170px;
    background-color: rgb(31, 27, 27);
    border-radius: 10px;
}

.mega{
    position: relative;
    top: 15px;
    left: 10px;
}

.img7-text1{
    position: relative;
    top: 40px;
    left: 15px;
    font-weight: bolder;
}

.img7-text2{
    position: relative;
    top: 60px;
    left: 15px;
    font-weight: 600;
    color: rgb(177, 171, 171);
    font-size: 13px;
}

.img7-text3{
    position: relative;
    top: 65px;
    left: 15px;
    font-weight: 600;
    color: rgb(177, 165, 165);
    font-size: 13px;

}

.img8{
    height: 275px;
    width: 170px;
    background-color: rgb(31, 27, 27);
    border-radius: 10px;
    position: relative;
    right: 10px;
}

.top50{
    position: relative;
    top: 15px;
    left: 12px;
}

.img8-text1{
    position: relative;
    top: 40px;
    left: 15px;
    font-weight: bolder;
}

.img8-text2{
    position: relative;
    top: 60px;
    left: 15px;
    font-weight: 600;
    color: rgb(177, 171, 171);
    font-size: 13px;
}

.img8-text3{
    position: relative;
    top: 65px;
    left: 15px;
    font-weight: 600;
    color: rgb(177, 165, 165);
    font-size: 13px;

}

.img9{
    height: 275px;
    width: 170px;
    /* background-color: rgb(31, 27, 27); */
    border-radius: 10px;
    position: relative;
    right: 10px;
}

.img10{
    height: 275px;
    width: 170px;
    /* background-color: rgb(31, 27, 27); */
    border-radius: 10px;
    position: relative;
    right: 10px;
}

.img11{
    height: 275px;
    width: 170px;
    /* background-color: rgb(31, 27, 27); */
    border-radius: 10px;
    position: relative;
    right: 10px;
}

.img12{
    height: 275px;
    width: 170px;
    /* background-color: rgb(31, 27, 27); */
    border-radius: 10px;
    position: relative;
    right: 10px;
}

.sleep{
    height: 70px;
    width: 1179px;
}

.s1{
    font-weight: bolder;
    position: relative;
    top: 27px;
    left: 20px;
    font-size: 23px;
}

.scrollable-content{
    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 686px;
}

.scrollable-content:hover{
    overflow-y: auto;
}

.scrollable-content::-webkit-scrollbar-track {
    background: transparent;
}

.scrollable-content::-webkit-scrollbar-thumb {
    background-color: rgb(26, 24, 24);
    border-radius: 6px;
}

.scrollable-content:hover::-webkit-scrollbar-thumb {
    background-color: rgb(26, 24, 24);
}